@media only screen and (max-width: 767px) {

  .react-calendar__month-view__weekdays__weekday {
    margin-left: 5px;

    font-size: 10px;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    font-size: 10px;
  }

  .react-calendar__month-view__days__day {
    font-size: 10px;
  }

  .discard {
    margin-left: 0px !important;
  }
}

.discard {
  margin-left: 30px;
}